
.big {
	text-align: center;
	display: inline-block;
	width: 65px;
  height: 65px;
  border-radius: 50%;
	box-shadow:  0 5px rgb(120,200,244);
	color: black;
  cursor: pointer;
  margin: 5px;
  
	background-image: -o-linear-gradient(left top, rgb(247, 200, 220) 40%, rgb(255, 255, 255) 60%, rgb(185, 227, 249) 80%);
	background-image: -moz-linear-gradient(left top, rgb(247, 200, 220) 40%, rgb(255, 255, 255) 60%, rgb(185, 227, 249) 80%);
	background-image: -webkit-linear-gradient(left top, rgb(247, 200, 220) 40%, rgb(255, 255, 255) 60%, rgb(185, 227, 249) 80%);
	background-image: linear-gradient(left top, rgb(247, 200, 220) 40%, rgb(255, 255, 255) 60%, rgb(185, 227, 249) 80%);
}

.small {
	text-align: center;
	display: inline-block;
	width: 45px;
  height: 45px;
  border-radius: 50%;
	box-shadow:  0 5px rgb(120,200,244);
	color: black;
  cursor: pointer;
  margin: 5px;
  
	background-image: -o-linear-gradient(left top, rgb(247, 200, 220) 40%, rgb(255, 255, 255) 60%, rgb(185, 227, 249) 80%);
	background-image: -moz-linear-gradient(left top, rgb(247, 200, 220) 40%, rgb(255, 255, 255) 60%, rgb(185, 227, 249) 80%);
	background-image: -webkit-linear-gradient(left top, rgb(247, 200, 220) 40%, rgb(255, 255, 255) 60%, rgb(185, 227, 249) 80%);
	background-image: linear-gradient(left top, rgb(247, 200, 220) 40%, rgb(255, 255, 255) 60%, rgb(185, 227, 249) 80%);
}

.big:active, .small:active {
	box-shadow: none;
	position: relative;
	top: 5px;
}
